<div class="ContainerHome">

    <div class="slider">

        <ul>

            <li>
                <img src="../../assets/imagenes/slider1.jpg" alt="">
                <div class="textimg">

                    <h4>slider 1</h4>

                </div>
            </li>

            <li>
                <img src="../../assets/imagenes/slider2.jpg" alt="">
                <div class="textimg">

                    <h4>slider 2</h4>

                </div>
            </li>

            <li>
                <img src="../../assets/imagenes/slider3.jpg" alt="">
                <div class="textimg">

                    <h4>slider 3</h4>

                </div>
            </li>

        </ul>


    </div>


    <div class="seccionnostros">
        
        <div class="secizq">
            <p>¡Descubre Estilo Online, tu destino de moda online! Explora nuestra cuidadosa selección de prendas elegantes y casuales diseñadas para cada ocasión. Desde vestidos sofisticados hasta ropa cómoda y moderna, estamos aquí para ayudarte a expresar tu estilo único. Con envíos rápidos y un servicio al cliente excepcional, hacemos que tu experiencia de compra sea fácil y placentera. ¡Déjanos ser tu guía en el mundo de la moda!</p>

        </div>

        <div class="secder">

            <img src="../../assets/imagenes/estilo_online-removebg-preview.png" alt="">

        </div>

    </div>

</div>