
<header>

    <a href="#" class="logo">

        <img src="../../assets/imagenes/estilo_online-removebg-preview.png" alt="logo">

    </a>
    <input type="checkbox" id="check">
    <label for="check" class="iconos">
        <i class='bx bx-menu' id="iconomenu"></i>
        <i class='bx bx-x'id="iconocerrar"></i>
    </label>
    
    <nav class="navbar">
        
        <a routerLink="home" class="linknav" style="--i:0;">Home</a>
        <a routerLink="productos" class="linknav" style="--i:1;">Productos</a>
    </nav>
    
</header>


