:host {
    display: block;
    background-color: rgb(71, 69, 69);
    background-size: cover;
    background-position: center;
    height: auto;
    z-index: -1;
}

.container{
    margin-top: 100px;
    color: black;
    font-family:"Poppins", sans-serif;

}

h1{
    text-align: center;
}

.filtro{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}



.container-cards{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}

#buscar{
    font-size: 16px;
    border: 1px solid #040404;
    border-radius: 5px;
    width: 175%;
    padding: 15px;
}